.menu-main {
    position: absolute;
    border: solid 1px #000;
    height: 90vh;
    min-width: 10%;    
    left: 10px;
    top: 10px;;
}

.menu-item{
    display: block;
    width: 100%;
    background: none;
    border: none;
}

.menu-item:focus{
    background: #000;
    color: #fff;
}

