#form{
    border: 1px solid black;
    padding: 3rem;
}

.form-title{
    border-bottom: 1px solid black;
}

.form-group-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.form-group-item input{
    width: 51%;
    border: 1px solid black;
    border-radius: 3px;
}

.submit-btn{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 1rem;
}